CRYPTO_POLICY=unlimited
EXTRA_JAVA_OPTS="-Duser.timezone=Europe/Berlin"
OPENHAB_HTTP_PORT=8080
#OPENHAB_HTTPS_PORT=8443
VIRTUAL_PORT=8080
VIRTUAL_HOST=smart.sscakovec.hr
LETSENCRYPT_HOST=smart.sscakovec.hr
LETSENCRYPT_EMAIL=zvanstefan@gmail.com
